include /components/mixins/mixins.pug

section.main-container__hero.hero
  div.hero__container
    div.hero__content-block
      h3.heading-h3 Сделаем принты
      h4.heading-h4 на пакеты
      p.text-he-25 Опытные сотрудники учтут все ваши пожелания
    div.hero__image-block
