include /components/mixins/mixins.pug

section.main-container__popular.popular
  div.popular__container
    div.popular__subtitle-block
      h2 Популярные товары
      span По мнению наших клиетов
    ul.popular__list
      +popularItem('hero_bags', 'Печать на пакетах', 'От 100')
      +popularItem('hero_bags', 'Печать на пакетах', 'От 100')
      +popularItem('hero_bags', 'Печать на пакетах', 'От 100')
      +popularItem('hero_bags', 'Печать на пакетах', 'От 100')
