@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.header__container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 10px 25px;
  position: relative;
  z-index: 2;

  @media (max-width: $mobile-width) {
    padding: 10px 10px;
  }
}

.header__navigation {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;

  @media (max-width: 410px) {
    grid-template-columns: auto max-content;
    grid-template-rows: auto;
  }
}

.header__navigation-logo {
  picture {
    display: flex;
  }
}

.header__navigation-wrapper {
  @media (max-width: $mobile-width) {
    order: 3;
  }
}

.header__navigation-search {
  justify-self: center;

  @media (max-width: $mobile-width) {
    order: 2;
    justify-self: center;
  }

  @media (max-width: 410px) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}

.header__navigation-wrapper-list {
  max-width: 1000px;
  margin: 0;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  @media (max-width: $mobile-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: $color-background-white;
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    z-index: 1;
    flex-direction: column;
  }

  &--active {
    transform: translateY(100%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.header__navigation-wrapper-link {
  text-decoration: none;
  color: $color-text-blue;
  padding: 20px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.4s ease;
  box-sizing: border-box;

  &:hover {
    border-bottom-color: $color-background-blue;
  }
}

.header__navigation-wrapper-mobile-icon {
  display: none;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    justify-self: end;
  }
}
