@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.hero {
  width: 100%;
  background-color: $color-background-blue-alice;
}

.hero__block {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0;
}

.hero__container {
  padding: 50px 135px;
  min-height: 550px;
  background-color: $color-background-blue-alice;
  overflow: hidden;
}

.hero__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__item-content {
  display: flex;
  justify-content: space-between;
}

.hero__content-block {

  h3 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    margin: 125px 0 10px 0;
    color: $color3;
    text-transform: uppercase;
  }

  h4 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin: 0 0 30px 0;
    color: $color-text-blue;
    text-transform: uppercase;
  }

  p {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    margin: 0 0 30px 0;
    color: $color-text-blue;
    text-transform: lowercase;
  }
}

.hero__image-block {
  picture {
    display: flex;
  }
}
