@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.hero {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0;
}

.hero__container {
  padding: 50px;
  border-radius: 20px;
  background-color: $color-background-blue-alice;
}
