@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.hero {
  width: 100%;
  background-image: url('../../img/fon_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__block {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0;
}

.hero__container {
  padding: 50px 135px;
  min-height: 550px;
  overflow: hidden;
}

.hero__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero__item-content {
  display: flex;
  justify-content: space-between;
}

.hero__content-block {

  h3 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    margin: 125px 0 10px 0;
    color: $color3;
    text-transform: uppercase;
  }

  h4 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin: 0 0 30px 0;
    color: $color-text-blue;
    text-transform: uppercase;
  }

  p {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    margin: 0 0 30px 0;
    color: $color-text-blue;
    text-transform: lowercase;
  }
}

.hero__image-block {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.068);

  picture {
    display: flex;
  }
}

.hero__pagination {
  display: flex;
  gap: 12px;
  height: 28px;
  align-items: center;
  justify-content: center;
}

.hero__toggle {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(37, 36, 36, 0.589);
  border-radius: 50%;
  cursor: pointer;

  &--active {
    background-color: black;
  }
}
