@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.hero {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0;
}

.hero__container {
  padding: 50px 100px 50px 70px;
  border-radius: 20px;
  background-color: $color-background-blue-alice;
  display: flex;
  justify-content: space-between;
}

.hero__content-block {

  h3 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 50px 0 10px 0;
    color: $color-text-blue;
  }

  h4 {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 30px 0;
    color: $color-text-blue;
  }

  p {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0 0 30px 0;
    color: $color-text-blue;
  }
}

.hero__image-block {
  picture {
    display: flex;
  }
}
