@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.stock-block {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.stock-block__discount {
  display: none;

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: chartreuse;
    border-radius: 50%;
    font-family: $basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
  }
}
