@use "./mixins" as *;

@include font-face("FiraSans", 100, normal, "../fonts/FiraSans100");
@include font-face("FiraSans", 200, normal, "../fonts/FiraSans200");
@include font-face("FiraSans", 400, normal, "../fonts/FiraSans400");
@include font-face("FiraSans", 500, normal, "../fonts/FiraSans500");
@include font-face("FiraSans", 700, normal, "../fonts/FiraSans700");
@include font-face("FiraSans", 800, normal, "../fonts/FiraSans800");
