@use "./mixins" as *;

@include font-face("Onest", 100, normal, "../fonts/Onest-100");
@include font-face("Onest", 200, normal, "../fonts/Onest-200");
@include font-face("Onest", 400, normal, "../fonts/Onest-400");
@include font-face("Onest", 500, normal, "../fonts/Onest-500");
@include font-face("Onest", 700, normal, "../fonts/Onest-700");
@include font-face("Onest", 800, normal, "../fonts/Onest-800");
