 /* Fonts */
$basic-font: "FiraSans";

 /* Viewports */
$tablet-width: 1023px;
$mobile-width: 767px;

 /*--- Color ---*/
$color-background-white: #FFFFFF;
$color-background-blue: #022AF5;
$color-background-blue-alice: #E2E6FE;
$color-background-black: #252525;

 /* hero */
$color-text-white: #FFFFFF;
$color-text-blue: #022AF5;
$color-text-black: #252525;



$color1:#ECEFF4;
$color2:#1941D1;
$color3:#192F21;
$color4:#FFFFFF;
