include /components/mixins/mixins.pug

footer.main-footer.footer
  div.footer__container
    div.footer__contacts-block
      h4 Контакты
      ul.footer__list.footer__list--contacts
        li.footer__item-contacts
          a.footer__item-link.footer__item-link--contacts(href="tel: +7(961)654-76-66") +7(961)654-76-66
        li.footer__item-contacts
          a.footer__item-link.footer__item-link--contacts(href="mailto:Fotosalonvramke1@mail.ru") Fotosalonvramke@mail.ru
    div.footer__salons-block
      h4 Наши салоны
      ul.footer__list.footer__list-salons
        li.footer__item-salons
          a.footer__item-link.footer__item-link--salons(href="") ул. Свердлова, 108
        li.footer__item-salons
          a.footer__item-link.footer__item-link--salons(href="") ул. Гагарина, 26
        li.footer__item-salons
          a.footer__item-link.footer__item-link--salons(href="") ул. Бумажников, 11 "Б"
        li.footer__item-salons
          a.footer__item-link.footer__item-link--salons(href="") ул. Яблочкова, 11
